backend/laravelfiles/vendor/
backend/laravelfiles/node_modules/
backend/laravelfiles/public/storage
backend/laravelfiles/storage/*.key
backend/laravelfiles/.idea
backend/laravelfiles/.vscode
backend/laravelfiles/Homestead.yaml
backend/laravelfiles/Homestead.json
backend/laravelfiles/.env
backend/laravelfiles/.env.*.php
backend/laravelfiles/.phpunit.result.cache
backend/laravelfiles/.php_cs.cache
backend/laravelfiles/.php-cs-fixer.cache

backend/laravelfiles/storage/logs/*
backend/laravelfiles/bootstrap/cache/*.php

frontend/reactfiles/node_modules/
frontend/reactfiles/npm-debug.log*
frontend/reactfiles/yarn-debug.log*
frontend/reactfiles/yarn-error.log*
frontend/reactfiles/pnpm-debug.log*

frontend/reactfiles/build

frontend/reactfiles/.env.local
frontend/reactfiles/.env.development.local
frontend/reactfiles/.env.test.local
frontend/reactfiles/.env.production.local

*.log
*.cache
*.env
*.pid
*.seed
*.coverage
*.tgz
*.swp
.DS_Store
